*{
    margin: 0;padding: 0;box-sizing: border-box;
}
header{
    width: 100%;height:55vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(../images/book3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav{
    width: 100%;height:15vh;
    background-color:black;
    color: white;
    display:flex ;
    text-transform: uppercase;
    justify-content:space-between;
    align-items: center;
}
nav .logo{
width: 25%;
text-align: center;
}

nav .menu{
    width:50%;
    display: flex;
    justify-content: space-between;
}

nav .menu a{
    width: 15%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    width: 100%;
    
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

section h3{
    
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
}
section p{
    margin: 15px 0px 15px 0px;
}
 
.genres{
    width: 100%;
    margin: 15px 0px 15px 0px;
    height:5vh;
    text-align: center;
    font-size: 20px;
    color:steelblue;
}

.type{
    width: 100%; 
    height:35vh;
    background-color: springgreen;
}

.a{
    margin: 10px 35px 10px 18px;
    width: 15%;
    margin-left: 37px;
    margin-right: 10px;
    color: black;
    float:left;
    display: flex;
    justify-content: center;
    height:42vh;
    opacity: 70%;
    align-items: center;
}
.l{

   background-color:white;
    margin: 80px 35px 10px 18px;
    width: 20%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:300px;
    width: 400px;
    color:black;
    display: inline-block;
    justify-content: center;
    height:20vh;
    text-align: center;
    line-height: 1.8;
}

#l{
    background-color: white;
}
.a a{
    text-decoration: none;
    color: white;
    margin: 10px 35px 10px 18px
}

