{% load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>

  <div class="loginbox">
    <h1>login</h1>
    <form action="login" method="post">
      {% csrf_token %}
    <div class="textbox">
      <i class="fa fa-user" aria-hidden="true"></i>
     <input type="text" placeholder="Username" name="username" value="">
    </div>
    <div class="textbox">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" placeholder="Password" name="password" value="">
    </div>
     <input type="submit"  class="btn" value="Sign in">
  </form>
    <div>
  {% for message in messages %}
  <h2>
    {{message}}
  </h2>
  {%endfor%}
</div>
  </div>

</body>

</html>
